//common colors
$white: #FFFFFF;
$black: #000000;

//colors
$orangeGray: #C3B8AC;
$brown: #382C21;
$brownOrange: #85694D;

//mediaBreakpoints
$tableWidth: 768px;
$mobileWidth: 320px;

//px
$wrapperWidth: 1140px;