//common colors
$white: #FFFFFF;
$black: #000000;

//colors
$orangeGray: #C3B8AC;
$brown: #382C21;
$brownOrange: #85694D;

//mediaBreakpoints
$tableWidth: 1200px;
$mobileWidth: 414px;

//px
$wrapperWidth: 1140px;
$wrapperTableWidth: 668px;
$wrapperMobileWidth: 290px;